
.f3 {
  --female-color: #f8c6d8;        /* Hồng nhẹ */
  --male-color: #a3d5f7;          /* Xanh da trời */
  --genderless-color: #ffffff;    /* Trắng */
  --background-color: #f5f5f5;    /* Nền xám nhạt nhẹ */
  --text-color: #000000;          /* Đen */

  font-family: 'Arial', sans-serif;
}


.f3 * {
  box-sizing: border-box;
}

.f3 .cursor-pointer {
  cursor: pointer;
}
.f3 svg.main_svg {
  width: 100%;
  height: 100%;
}
.f3 svg.main_svg text {
  fill: var(--text-color);
  text-anchor: middle;  /* Center text horizontally */
  dominant-baseline: central;  /* Center text vertically */
}

/* Ensure all SVG rect elements have square corners */
.f3 svg rect {
  border-radius: 0 !important;
}
.f3 rect.card-female, .f3 .card-female .card-body-rect, .f3 .card-female .text-overflow-mask {
  fill: var(--female-color);
  stroke:  #fff;
  stroke-width: 0px;
  border-radius: 0;
}
.f3 rect.card-male, .f3 .card-male .card-body-rect, .f3 .card-male .text-overflow-mask {
  fill: var(--male-color);
  stroke:  #fff;
  stroke-width: 0px;
  border-radius: 0;
}

.f3 rect.card-genderless, .f3 .card-genderless .card-body-rect, .f3 .card-genderless .text-overflow-mask {
  fill: var(--genderless-color);
  stroke:  #fff;
  stroke-width: 0px;
  border-radius: 0;
}

.f3 rect.card-male, .f3 rect.card-female {
  stroke:  #fff;
  stroke-width: 0px;
  border-radius: 0;
}


.f3 .card_add .card-body-rect {
  fill: #3b5560;
  stroke-width: 4px;
  stroke: #fff;
  cursor: pointer;
}
.f3 g.card_add text {
  fill: #fff;
}
.f3 .card-main-outline {
  stroke:  #fff;
  stroke-width: 6px;
}

.f3 .card-female-outline {
  stroke:  #fff;
  stroke-width: 6px;
}

.f3 .card_family_tree rect {
  transition: 0.3s;
}
.f3 .card_family_tree:hover rect {
  transform: scale(1.1);
}
.f3 .card_add_relative {
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.f3 .card_break_link, .f3 .link_upper, .f3 .link_lower, .f3 .link_particles {
  transform-origin: 50% 50%;
  transition: 1s;
}
.f3 .card_break_link {
  color: #fff;
}
.f3 .card_break_link.closed .link_upper {
  transform: translate(-140.5px, 655.6px);
}
.f3 .card_break_link.closed .link_upper g {
  transform: rotate(-58deg);
}
.f3 .card_break_link.closed .link_particles {
  transform: scale(0);
}
.f3 .input-field input {
  height: 2.5rem !important;
}
.f3 .input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-8px) scale(0.8);
  transform: translateY(-8px) scale(0.8);
}
.f3.f3-cont {
  width:100%;
  height:900px;
  max-height:70vh;
  background-color: var(--background-color);
  color: var(--text-color);
}
.f3 {
  position: relative;
  display: flex;
}


/* card-html */

.f3 div.card {
  cursor: pointer;
  color: var(--text-color);
  position: relative;
  line-height: 1.2;
}

.f3 div.card-rect {
  padding: 5px;
  width: 120px;
  min-height: 70px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.f3 div.card-image-rect {
  width: 0;
  min-height: 0px;
  display: flex;
  align-items: center;
}

.f3 div.card-image-rect .person-icon {
  height: 0px;
  width: 0px;
  object-fit: cover;
  flex: 0 0 auto;
  padding: 5px;
  margin-right: 10px;
}

.f3 div.card-image-rect img {
  height: 0px;
  width: 0px;
  object-fit: cover;
  flex: 0 0 auto;
  padding: 5px;
  margin-right: 10px;
}

.f3 div.card-image-rect svg {
  object-fit: cover;
  width: 0%;
  height: 0%;
  padding: 5px;
}

.f3 div.card-image-rect div.card-label {
  height: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.f3 div.mini-tree {
  text-align: right;
  position: absolute;
  top: -15px;
  right: -2px;
  z-index: -1;
}
.f3 div.mini-tree svg {
  width: 55px;
}

.f3 .f3-remove-relative-active .card {
  background-color: var(--background-color);
}

.f3 .f3-remove-relative-active .card-inner {
  transition: border 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: .75;
}

.f3 .f3-remove-relative-active .card:hover .card-inner {
  opacity: .25;
}

.f3 .f3-remove-relative-active .card-male.card-depth--1:hover .card-inner {
  transform: translate(-8px, -8px);
}

.f3 .f3-remove-relative-active .card.card-female.card-depth--1:hover .card-inner {
  transform: translate(8px, -8px);
}

.f3 .f3-remove-relative-active .card.card-female.card-depth-0:hover .card-inner {
  transform: translate(8px, 0);
}

.f3 .f3-remove-relative-active .card.card-male.card-depth-0:hover .card-inner {
  transform: translate(-8px, 0);
}

.f3 .f3-remove-relative-active .card.card-depth-1:hover .card-inner {
  transform: translate(0, 8px);
}

.f3 .f3-remove-relative-active .card.card-main .card-inner {
  transform: translate(0, 0)!important;
  opacity: 1!important;
}



.f3 div.card > div {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
}

.f3 .card-inner {
  outline: 0px solid rgba(255, 255, 255, 1);
  transition: outline 0.5s ease-in-out;
}

.f3 div.card-female .card-inner, .f3 div.card-female .person-icon svg {
  background-color: var(--female-color);
  
}
.f3 div.card-male .card-inner, .f3 div.card-male .person-icon svg {
  background-color: var(--male-color);
  stroke:  #fff;
  stroke-width: 6px;

}
.f3 div.card-genderless .card-inner, .f3 div.card-genderless .person-icon svg {
  background-color: var(--genderless-color);
  outline: 6px solid white !important;
}
.f3 rect.card-genderless,
.f3 .card-genderless .card-body-rect,
.f3 .card-genderless .text-overflow-mask {
  stroke-width: 6px;
}


.f3 div.card-new-rel .card-inner, .f3 div.card-new-rel .person-icon svg {
  background-color: var(--background-color);
}

.f3 div.card-to-add .card-inner {
  background-color: var(--background-color);
  outline: 1px solid;
}

.f3 div.card-to-add .card-inner .card-label {
  margin: 0 auto;
}

.f3 div.card-to-add .person-icon {
  display: none;
}

.f3 div.card-new-rel .card-inner {
  border-width: 1px;
  border-style: dashed;
  outline: 0px !important;
}
.f3 div.card-new-rel.card-female .card-inner, .f3 div.card-to-add.card-female .card-inner {
  border-color: var(--female-color);
  color: var(--female-color);
  
}
.f3 div.card-new-rel.card-male .card-inner, .f3 div.card-to-add.card-male .card-inner {
  color: var(--male-color);
  border-color: var(--male-color);
}

.f3 div.card-unknown .card-inner {
  background-color: var(--background-color);
  border: 1px solid;
}

.f3 div.card-unknown .card-inner .card-label {
  margin: 0 auto;
}

.f3 div.card-unknown .person-icon {
  display: none;
}

.f3 div.card-new-rel .card-inner {
  border-width: 1px;
  border-style: dashed;
  outline: 0px !important;
}
.f3 div.card-new-rel.card-female .card-inner, .f3 div.card-unknown.card-female .card-inner {
  border-color: var(--female-color);
  color: var(--female-color);
  
}
.f3 div.card-new-rel.card-male .card-inner, .f3 div.card-unknown.card-male .card-inner {
  color: var(--male-color);
  border-color: var(--male-color);
}

.f3 div.card:hover > div {
  transform: translate(0, -2px);
}
.f3 div.card-main .card-inner, .f3 div.card:hover .card-inner {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
}

.f3 div.card-main .card-inner {
  outline: 4px solid rgba(220, 220, 220, 1);
}

.f3 div.card-inner.f3-path-to-main {
  outline: 4px solid rgba(255, 255, 255, 1);
}

.f3 .link {
  transition: stroke-width 0.2s ease-in-out;
  stroke-width: 3px;
  stroke-linecap: square;
  stroke-linejoin: miter;
}

.f3 .link.f3-path-to-main {
  stroke-width: 4px;
}






.f3-nav-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.f3-history-controls {
  padding: 8px 5px 7px 9px;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.f3-back-button, .f3-forward-button {
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  color: currentColor;
}

.f3-history-controls svg {
  height: 100%;
}

.f3-back-button.disabled, .f3-forward-button.disabled {
  opacity: 0.5;
}


.f3-popup {
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.f3-popup-content {
  position: relative;
  background-color: var(--background-color);
  border: 1px solid #888;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.f3-popup-nav {
  height: 20px;
}

.f3-popup-content-inner {
  width: 100%;
  height: 100%;
}

.f3-popup-close {
  color: #aaa;
  position: absolute;
  z-index: 4;
  right: 6px;
  top: 1px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.f3-popup-close:hover,
.f3-popup-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 



.f3-btn {
  position: relative;
  cursor: pointer;
  padding: 5px 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: var(--text-color);
  color: var(--background-color);
  
  transition: background-color .3s;
  font-size: 14px;
}

.f3-btn:hover, .f3-btn:focus {
  background-color: var(--background-color);
  color: var(--text-color);
}

.f3-female-bg {
  background-color: var(--female-color);
}

.f3-male-bg {
  background-color: var(--male-color);
}

.f3-genderless-bg {
  background-color: var(--genderless-color);
}

.f3-female-color {
  color: var(--female-color);
}

.f3-male-color {
  color: var(--male-color);
}

.f3-genderless-color {
  color: var(--genderless-color);
}

.f3-autocomplete-cont {
  position: relative;
  display: inline-block;
  z-index: 2;
  font-size: 14px;
  width: 200px;
}

.f3-autocomplete input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  width: 100%;
}
.f3-autocomplete input:focus {
  outline: none;
}

.f3-autocomplete-toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  width: 20px;
}

.f3-autocomplete-items {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  overflow-y: auto;
  max-height: 0;
  background-color: var(--background-color);
  transition: max-height 0.3s ease-in-out;
}

.f3-autocomplete.active .f3-autocomplete-items {
  max-height: 300px;
}

.f3-autocomplete-item > div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--background-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.f3-autocomplete-item > div:hover, .f3-autocomplete-item.f3-selected > div {
  background-color: var(--text-color);
  color: var(--background-color);
}

.f3-autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.f3-kinship-info {
  padding: 10px 20px;
}

.f3-kinship-info .f3-info-field {
  color:#b3b01e
}

.f3-kinship-info-icon {
  cursor:pointer;
  display:inline-block;
  width:18px;
  height:18px;
  color:#04a4f4;
  position:relative;
  top:4px;
  left:2px;
}

.f3-kinship-info .f3 {
  width:100%;
  height: 100%;
  position:relative;
  background-color:rgb(33,33,33);
  color:#fff;
}

.f3 .f3-kinship-info .card-kinship-self {
  min-height: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--background-color) !important;
  border: solid 3px;
  color: #437fae;
  font-weight: bold;
}

.f3 .f3-kinship-info .card-kinship-self.f3-real-label {
  width: 150px;
  height: 50px;
  border-radius: 50px;
}

.f3 .f3-kinship-info .card-kinship-rel {
  min-height: 0px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: #1d3456 !important;
  font-weight: bold;
}

.f3 .f3-kinship-info .card-kinship-default {
  min-height: 0px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--background-color) !important;
  border: solid 1px;
}

.f3-kinship-labels-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 12px;
}

.f3-kinship-labels-toggle label {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 2px 5px;
}

.f3-kinship-labels-toggle input[type="checkbox"] {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.f3 .card-female .text-overflow-mask {
  fill: none !important;
  stroke: none !important;
}

.f3 .card-male .text-overflow-mask {
  fill: none !important;
  stroke: none !important;
}


.f3 .card_image image {
  display: none !important;
}


.f3 .card-label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
}
